<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<link rel="stylesheet" href="/layui/css/layui.css">
<link rel="stylesheet" href="/layui/css/layui.mobile.css">
<script src="/layui/layui.js"></script>
<body>
<div style="float:left;margin: 20px 20px" >
    <a class="layui-btn layui-btn-normal" href="/vehicleInfoPage">车辆管理页面</a>
</div>
<div style="float: right">
    欢迎<span style="color: red; font-size: 25px; margin-right: 15px" th:if="${session.userInfo != null}" th:text="${session.userInfo.username}">登录</span><a href="/user/logout" class="layui-btn layui-btn-radius layui-btn-primary">退出</a>
</div>
<script>
</script>
</body>
</html>