<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!-- layui -->
<link type="text/css" rel="stylesheet" href="/layui/css/layui.css">
<link type="text/css" rel="stylesheet" href="/layui/css/layui.mobile.css">
<!-- 自定义样式 -->
<link type="text/css" rel="stylesheet" href="/public/css/vehicleInfo.css">
<script type="text/javascript" src="/public/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/layui/layui.all.js"></script>
<script type="text/javascript" src="/layui/layui.js"></script>
<!-- 自定义js -->
<script type="text/javascript" th:src="@{/public/js/vehicleInfo.js}"></script>
<body>
    <div class="wrapper">
        <div class="layui-form layui-input-inline" lay-filter="selectForm"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
            <div class="layui-form-item layui-input-inline">
                <label class="layui-form-label">车牌号</label>
                <div class="layui-input-block">
                    <input class="layui-input" type="text" name="vehicleLicense" placeholder="请输入" required lay-verify="required" autocomplete="off" >
                </div>
            </div>
            <div class="layui-form-item layui-input-inline">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="selectForm">查询</button>
                </div>
            </div>
        </div>
        <div class="layui-form layui-input-inline" lay-filter="optionSelectForm">
            <div class="layui-form-item layui-input-inline">
                <label class="layui-form-label">厂牌</label>
                <div class="layui-input-block">
                    <select id="vehicleBrand-select" lay-filter="optionSelectForm" name="vehicleBrandId" lay-verify="required">
                    </select>
                </div>
            </div>
        </div>
        <script th:inline="none">

        </script>
    </div>
    <table class="layui-show" id="demo" lay-filter="test" lay-size="sm">
        <!--<tr>-->
            <!--<th>车牌号</th>-->
            <!--<th>类型</th>-->
            <!--<th>等级</th>-->
            <!--<th>行驶证编号</th>-->
            <!--<th>厂牌</th>-->
            <!--<th>载客数</th>-->
            <!--<th>状态</th>-->
            <!--<th>上户日期</th>-->
            <!--<th>所属供应商</th>-->
            <!--<th>调度权</th>-->
            <!--<th>业务用途</th>-->
            <!--<th>最近绑定产品</th>-->
        <!--</tr>-->
    </table>
    <script th:inline="none" >

    </script>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="insert">注册</button>
            <button class="layui-btn layui-btn-sm" lay-event="edit">编辑</button>
            <button class="layui-btn layui-btn-sm" lay-event="enable">启用</button>
            <button class="layui-btn layui-btn-sm" lay-event="disable">禁用</button>
            <button class="layui-btn layui-btn-sm" lay-event="delete">注销</button>
        </div>
    </script>
    <!-- 注册模态框 -->
    <div id="addmain" class="add-main edit-main"  style="display:none;/**需要设置为不显示**/">
        <div class="clearfix wrapper">
            <form class="layui-form" lay-filter="addForm">
                <!-- 左侧 -->
                <div class="lable-left" style="width: 65%;float: left">
                    <div class="layui-form-item layui-input-inline" style="display: none">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>ID</label>
                        <div class="layui-input-block">
                            <input type="text" id="vehicleId" name="id" autocomplete="off" class="layui-input clear-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>车牌号</label>
                        <div class="layui-input-block">
                            <input type="text" name="vehicleLicense" required  lay-verify="required" autocomplete="off" class="layui-input clear-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>车辆所有人</label>
                        <div class="layui-input-block">
                            <input type="text" name="owener" required lay-verify="required" autocomplete="off" class="layui-input clear-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>车牌颜色</label>
                        <div class="layui-input-block">
                            <select id="color" name="optionColorId" lay-verify="required" class="clear-select">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>发动机号</label>
                        <div class="layui-input-block">
                            <input class="layui-input clear-input" type="text" name="engineNumber" required lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>车辆厂牌</label>
                        <div class="layui-input-block">
                            <select id="vehicleBrand" name="vehicleBrandId" lay-verify="required" class="clear-select">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>车辆机架号</label>
                        <div class="layui-input-block">
                            <input class="layui-input clear-input" type="text" name="vehicleRackNumber" required lay-verify="required" >
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>车辆型号</label>
                        <div class="layui-input-block">
                            <input class="layui-input clear-input" type="text" name="vehicleModel" required lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>注册日期</label>
                        <div class="layui-input-block">
                            <input class="layui-input clear-input" type="text" name="registerDate"  required lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>车辆类型</label>
                        <div class="layui-input-block">
                            <select id="vehicleType" name="vehicleTypeId" class="clear-select">
                                < <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>初次登记日期</label>
                        <div class="layui-input-block">
                            <input  class="layui-input clear-input" type="text" name="dateInitialRegistration"  required lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>车身颜色</label>
                        <div class="layui-input-block">
                            <input class="layui-input clear-input" type="text" name="bodyColor"  required lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>车辆检修状态</label>
                        <div class="layui-input-block">
                            <select id="vehicleMaintenanceStatus" class="clear-select" name="vehicleMaintenanceStatusId" lay-verify="required">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>核定载客位</label>
                        <div class="layui-input-block">
                            <input class="layui-input clear-input" type="text" name="seatingCapacity" placeholder="包含驾驶员"  required lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>车辆年审状态</label>
                        <div class="layui-input-block">
                            <select id="annualReviewStatus" name="annualReviewStatusId" lay-verify="required" class="clear-select">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>燃料类型</label>
                        <div class="layui-input-block">
                            <select id="fuelType" name="fuelTypeId" lay-verify="required" class="clear-select" >
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>下次年检时间</label>
                        <div class="layui-input-block">
                            <input class="layui-input clear-input" type="text" name="nextAnnualInspectionTime" required lay-verify="required" >
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>排量</label>
                        <div class="layui-input-block">
                            <input class="layui-input clear-input" type="text" name="displacement" required lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>等级</label>
                        <div class="layui-input-block">
                            <select id="level" class="clear-select" name="levelId" lay-verify="required">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>业务用途</label>
                        <div class="layui-input-block">
                            <select id="businessPurpose" class="clear-select" name="businessPurposeId" lay-verify="required">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>运营范围</label>
                        <div class="layui-input-block">
                            <select id="scopeOfBusiness" class="clear-select" name="scopeOfBusinessId" lay-verify="required" >
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>所属供应商</label>
                        <div class="layui-input-block">
                            <select id="subordinateSuppliers" class="clear-select" name="subordinateSuppliersId" lay-verify="required">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>载客数</label>
                        <div class="layui-input-block">
                            <input class="layui-input clear-input" type="text" name="seatsOfGuests" placeholder="不包含驾驶员" required lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>里程数</label>
                        <div class="layui-input-block">
                            <input class="layui-input clear-input" type="text" name="mileage" required lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label"><span style="color: #377aff">*</span>行驶证号</label>
                        <div class="layui-input-block" >
                            <input  class="layui-input clear-input" type="text" name="drivingLicenseNumber" required lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label">调度权</label>
                        <div id="dispatchingRightId" class="layui-input-block clear-select">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea name="remarks" placeholder="请输入内容" class="layui-textarea clear-input"></textarea>
                        </div>
                    </div>
                    <!-- 图片地址 -->
                    <input type="hidden" name="imageUrl" id="imageUrl">
                    <div class="layui-form-item ">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- 右侧 -->
            <div class="lable-right" style="width: 30%;float: right">
                <!-- 上传图片 -->
                <div class="layui-upload-drag" id="upload">
                    <i class="layui-icon hide-custom"></i>
                    <p class="hide-custom">点击上传，或将文件拖拽到此处</p>
                    <img class="uploadImage" style="display: none" src="" id="uploadImage">
                </div>
            </div>
        </div>
    </div>
</body>
</html>