<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunze.vehiclemanagement.mapper.UserAuthorityMapper">
<resultMap id="BaseResultMap" type="com.yunze.vehiclemanagement.pojo.UserAuthority">
  <result column="user_id" jdbcType="VARCHAR" property="userId" />
  <result column="authority_id" jdbcType="INTEGER" property="authorityId" />
</resultMap>
<sql id="Base_Column_List">
    user_id, authority_id
  </sql>
<select id="selectByUserId" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List"></include>
  from user_authority_tb
  where user_id = #{userId,jdbcType=VARCHAR}
</select>
<insert id="insert" parameterType="com.yunze.vehiclemanagement.pojo.UserAuthority">
    insert into user_authority_tb (user_id, authority_id)
    values (#{userId,jdbcType=VARCHAR}, #{authorityId,jdbcType=INTEGER})
  </insert>
</mapper>